*{
    cursor:url(https://tennedar.github.io/pic/cursor/default.cur),auto;
    cursor:url(https://tennedar.github.io/pic/cursor/default.cur),default;
    
    cursor:url(https://tennedar.github.io/pic/cursor/default.cur),pointer;
    cursor:url(https://tennedar.github.io/pic/cursor/pointer.cur),pointer;
    /*cursor:url(https://tennedar.github.io/pic/cursor/text.cur),text;*/
}